header{
    background:  white;
    height: 120px  ;
    width: auto;
}

footer{
    height: 260px;
    width: auto;
    background: white;
}
.icons
{
    margin: 10px 5px 10px 25px;
    float: left;
}
.information
{
    float: left;
    font-size: 30px;
    color: blue;
}
.information li
{
    margin: 38px 0 15px 20px;
    list-style-type: none;

}
.linkMaps{
    color: blue ;
    text-decoration: none ;
}

.Aboutsite
{
    margin-top: 0px;
    margin-left: 300px;
    margin-right: 6%;
    float: right;
}
.Aboutsite p{
    font-size: 20px;
    font-family: Aladin ,sans-serif;
    padding: 0;
}
.textSite
{
    margin-top:25px ;
    margin-bottom: 0px;
    margin-right: 10%;
    float: right;
    font-family: Aladin sans-serif;
    font-size: 40px;

}



body{
    font-family: Aladin,sans-serif;
    background: #fafafa;
    padding: 0;
    margin: 0;
}
#logo
{

    height: auto;
    margin: 10px 0 5px 70px;
    float: left;

}
.Exit
{
    margin-top:20px;
    margin-right: 0;
    float: right;

}
#nickname{
    font-family: Aladin sans-serif;
    float: right;
    margin-left: 10px;
    margin-top: 70px;
    font-size: 30px;
    margin-right: 10px;
    float: right;
}
.title{
    font-family: Aladin sans-serif;
    font-size: 60px;
    margin-left: 40%;
    margin-top: 0;
    margin-right: 0;
    float: left;
    display: block;
}
section{
    background: #fafafa;
}
#nick{

    float: right;
    margin-right: 3%;
}
.profile
{
    margin-top:60px ;
    margin-left: 50px ;
    margin-right: auto;
}
.namesites{
    font-family: Aladin;
    margin: 15px 0px 40px 480px ;
    font-size: 70px;
    color: dodgerblue;
    float: left;
}
.conteiner {
    height: 115px;
}

.hashtegs
{
    font-family: Aladin sans-serif;
    color: blue;
    font-size: 25px;
    margin-top: 3px;
    margin-right: auto;
    margin-left: 3%;
    margin-bottom: 40px;
    float: left;
}
.download
{
    margin: 30px 3% 50px 55%;
}


.headPost
{
    height: 50px;
    margin-bottom: 7px;
}
.photo
{
    height: 600px;
    margin: 0 auto;
}
.elements {
    height: 60px;
    margin-bottom: 10px;
}
.comment
{
    width: 790px;
    font-size: 25px;
    margin: 0 auto;
    resize: none
}
.userPhoto
{
    margin-top:3px;
    margin-left: 1%;
    margin-right: 3px;
    float: left;
}
.username
{
    font-family: Aladin sans-serif;
    margin-top:7px;
    float: left;
    font-size: 30px;
    margin-left: 3%;
}
.datapost
{
    font-family: Aladin sans-serif;
    margin-top:12px;
    font-size: 25px;
    float: right;
    margin-right: 7% ;
}
.like
{
    margin-top: 5px;
    margin-left: 2%;
    float: left;
}
.setting
{
    margin-top: 5px;
    margin-right: 20px;
    float: right;
}
.delete
{
    float: right;
    margin-top: 5px;
    margin-right: 3%;
}
.post{
    background: white;
    margin-top: 75px;
    width: 800px;
    height: 720px;
    margin-left: 40%;
    margin-bottom: 190px;
    border:1px solid black;
}
#search
{
    z-index: 101;
    position: relative;
    width: 450px;
    height: 900px;
    float: left;
    margin-top: 75px;
    list-style-type: none;
}
.buttonSearchName{
    font-size: 30px;
}

.filters{
    font-size: 50px;
    font-family: Aladin sans-serif;
    margin: 50px 80px 20px 50px ;
}

.toolbar li{
    margin: 10px 0px 30px 40px;
    list-style-type: none;
}
.battonsearsh {
    font-size: 30px;
    margin: 20px 0px 0px 120px;
}
.contact
{
    float: left;
}
.contact li
{
    margin: 15px;
    list-style-type: none;

}



